// foundations
@use "./foundations/functions";
@use "./foundations/variables";
@use "./foundations/mixins";




img {
    max-width: 100%;
   

 }
 

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }